.conteiner{

  width: 80%;
	margin: 0 auto;
  background-color: aqua;
	border-radius: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
  box-shadow: -5px 5px 7px rgba(0, 0, 0, 0.315);
}
.tudo{
  gap: 3rem;
  background-color: aqua;
	display: flex;
	border-radius: 15px;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
}
.info{
  margin-left: 40px;
	margin-right: 40px;
	text-align: center;
}
.titulo{
  display: block;
	background-color: rgb(36, 156, 156);
	margin: 15px 0px 15px 0px;
	padding: 5px;
	border-radius: 20px;
	text-align: center;
}
.conteudo{
  gap: 2rem;
  display: block;
	background-color: aqua;
	margin: 15px 0px 15px 0px;
	padding: 5px;
	border-radius: 20px;
	text-align: center;
}

div a{
  display:block;
  width: 250px;
	background-color: rgb(36, 156, 156);
	margin: 15px 0px 15px 0px;
	padding: 5px;
	border-radius: 20px;
	text-align: center;
  text-decoration: none;
  color: black;
  transition: .5s;
  font-size: 20px;
}
div a:hover{
  background-color: rgb(29, 95, 95)
}
