<div class="conteiner">
  <div class="tudo">
    <div class="info">

      <div class="titulo"><h1>Habilidades / Linguagens </h1></div>
        <div class="conteudo">
            <h2>Habilidades</h2>
              <p>Facil entendimento na area de programação, montagem, reparação e limpeza de computadores.
                Sou uma pessoa com o relacionamento interpessoal bom e um bom lider, sabendo dizer onde cada um deve seguir, e ajudar em cada area que necessitar de um suporte.
              </p>

              <h2>Linguagens</h2>
              <strong>
              <li>
                  <img align= "center" alt= "Rafa-csharp" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/csharp/csharp-original.svg">
                  C#
                </li>

                <li>
                  <img align= "center" alt= "Lc-CSS" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original.svg">
                  CSS
                </li>

                <li><img align= "center" alt= "Lc-HTML" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original.svg">
                HTML 5
                </li>

                <li>
                  <img align= "center" alt= "Lc-Angular" height="30" width="40" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg" />
                  Angular
                </li>

                <li>
                  <img align= "center" alt= "Lc-Angular" height="30" width="40" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" />
                  Typescript
                </li>

                <li>
                  <img align= "center" alt= "Lc-Angular" height="30" width="40" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original-wordmark.svg" />
                  Java
                </li>

                <li>
                  <img align= "center" alt= "Lc-Angular" height="30" width="40" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" />
                  javascript
                </li>

                <li>
                  <img align= "center" alt= "Lc-Angular" height="30" width="40" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/wordpress/wordpress-original.svg" />
                  WordPress
                </li>

                <li>
                  <img align= "center" alt= "Lc-Angular" height="60" width="40" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original-wordmark.svg" />
                  MySql
                </li>
              </strong>
              <div>
                <a href="">Pagina principal</a>
              </div>
        </div>
    </div>
  </div>
</div>
