<div class="conteiner">
  <div class="tudo">

    <div class="info">
          <h1 class="titulo">Experiência</h1>
            <div class="conteudo">
              <h3>Autonomo</h3>
              <p>Trabalho por fora concertando, formatando e montandos computadores (2 anos na área).</p>

              <h3>Loja Mais mega </h3>
              <p> Auxiliar de Estoque, Auxiliar de loja e Tecnico de informatica(hardware).</p>
            </div>
          <div>
            <a href="">Pagina principal</a>
          </div>
    </div>

  </div>
</div>
