<div class="container">
  <div class="tudo">


    <div class="info">

      <div class="titulo"> <h1>Formações</h1> </div>

        <div  class="formacao">
          <strong> <h3>Escolaridade</h3> </strong>
          <p>Ensino medio completo.</p>

          <strong><h3>Curso Profissionalizante</h3></strong>
          <p>Montador Reparador de Computadores, Senai Duque de caxias (setembro/2019) -
            concluída.
            </p>

            <strong><h3>Curso Tecnico Informática</h3></strong>
            <p>Técnico de Informática, Colégio Mercúrio (agosto/2023) - cursando.</p>
            <div>
              <a href="">Pagina principal</a>
            </div>
        </div>
    </div>
  </div>
</div>
