

  <div class="container">
    <div class="TUDO">
      <div>
        <img src="../../../assets/img/WhatsApp Image 2022-09-11 at 05.44.59.jpeg" alt="">
      </div>

        <div class="info">
            <h1 class="nomelucas">Lucas Aprigio de Oliveira</h1>
              <h2 class="continf">Contatos e Informações</h2>
              <div class="contato">
                <h3>Idade</h3>
                <p>19 anos</p>

                <h3>Data de Nascimento</h3>
                <p>03/04/2003</p>

                <h3>Celular: </h3>
                <p>(21) 99968-0746</p>

                <h3>E-mail: </h3>
                <p>lucasaprigio335@gmail.com</p>

                <h3>Localidade: </h3>
                <p>Colégio, Rio de Janeiro, Brasil</p>
              </div>
              <div >
                <a  routerLink="experiencia"> Minhas Experiências </a>
                <a routerLink="projetos">Meus Projetos </a>
                <a routerLink="habilidades">Minhas Habilidades </a>
                <a routerLink="formacao">Minha Formação </a>
             </div>
        </div>

    </div>
  </div>
